{% for row in range(1, 10) %}

<article class="postbox post format-image mb-40">
    <div class="postbox__thumb">
        <a href="#">
            <img src="http://bdevs.net/orgafe/orgafe/img/blog/b1.jpg" alt="blog image">
        </a>
    </div>
    <div class="postbox__text p-50">
        <div class="post-meta mb-15">
            <span><i class="fa fa-calendar-check"></i> September 15, 2018 </span>
            <span><a href="#"><i class="fa fa-user"></i> Diboli B. Joly</a></span>
            <span><a href="#"><i class="fa fa-comments"></i> 23 Comments</a></span>
        </div>
        <h3 class="blog-title">
            <a href="#">But there is a downside. Simply running a search for medical blogs.</a>
        </h3>
        <div class="post-text mb-20">
            <p>There’s a good chance Everyday Health is the most appropriately named blog on
                this list
                because it focuses on the health
                topics that consistently affect a wide range of people. They also get kudos for
                addressing the emotional challenges
                folks face when managing conditions.</p>
        </div>
        <div class="read-more mt-30">
            <a href="#" class="btn theme-btn">read more</a>
        </div>
    </div>
</article>
{% endfor %}